<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="antrix.chopbet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.activityChopBet"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.activityEditUserProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.activityUserProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.activityRegisterLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.activityPhoneVerify"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.activityBetDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.activityEditUsername"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.activitySplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.activityAddFriend"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.activityFriendRequests"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.activityAddFunds"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.activityTransactionDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.activityWithdrawFunds"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activities.activityNewBet"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>